<main class="main">
  <div class="main__container1">
    <h2 class="main__title">Elije tu jugada</h2>
    <img class="main__image" src="./assets/images/hand.png" alt="mano señalando" title="selecciona una jugada"/>
  </div>
  <div class="main__container2">

    <img class="rock" src="./assets/images/rock.png" onClick="play(0)"/>
    <img class="paper"src="./assets/images/paper.png" onClick="play(1)"/>
    <img class="scissors" src="./assets/images/scissors.png" onClick="play(2)"/>
  </div>
  <div class="main__container3">
    <div class="main__container3--items">
      <h2>Jugador:</h2>
      <h3 id="human"></h3>
    </div>
    <div class="main__container3--items">
      <h2>Máquina:</h2>
      <h3 id="machine"></h3> 
    </div>
    <div class="main__container3--items">
      <h2>El resultado es:</h2>
      <h3 id="result"></h3>
    </div>
  </div>
  <div class="container__button">
  <button class="container__button--reset js-reset">NUEVA PARTIDA</button>
</div>
</main>